.MyButton {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 14px;
  border: 2px solid #cb4de4;
  border-radius: 15px;
  font-weight: 500;
  background: transparent;
  margin-top: 10px;
  box-shadow: 6px 6px 12px transparent, -6px -6px 12px transparent;
}

.MyButton:active {
  color: #1d1c1c;
  box-shadow: inset 4px 4px 12px #c78fc7, inset -4px -4px 12px #c78fc7;
}

.MyButton:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.MyButton:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #d662e6;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.MyButton:hover {
  color: #ffffff;
}

.MyButton:hover:before {
  top: -35%;
  background-color: #e24ef0;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.MyButton:hover:after {
  top: -45%;
  background-color: #e251f5;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #03dac6, #6200ea);
  border: 8px solid transparent;
  border-top-color: #03dac6;
  border-bottom-color: #6200ea;
  /* animation: spin 4s linear infinite; */
}

.loader::before {
  content: "0";
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: white;
  animation: count 1s linear infinite;
}

@keyframes count {
  0% {
    content: "0";
  }
  10% {
    content: "10";
  }

  20% {
    content: "20";
  }
  30% {
    content: "30";
  }
  40% {
    content: "40";
  }
  50% {
    content: "50";
  }
  60% {
    content: "60";
  }

  70% {
    content: "70";
  }

  80% {
    content: "80";
  }

  90% {
    content: "90";
  }
  100% {
    content: "100";
  }
}

/* From Uiverse.io by krlozCJ */
/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  display: none;
  color: white;
}

.container {
  --size: 50px;
  width: var(--size);
  display: block;
  height: var(--size);
  background-color: #191a1e;
  border-radius: 100%;
  cursor: pointer;
  padding: 5px;
  color: white;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%),
    inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}

.container .checkmark {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%),
    inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  transition: all ease 0.3s;
  padding: 8px;
}

.container .checkmark svg {
  opacity: 0;
  transition: all ease 0.3s;
}

.container input:checked + .checkmark {
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
    inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.container input:checked + .checkmark svg {
  opacity: 1;
}
